<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<h1> {{barracks.name}} </h1>
{% if floor_list %}
    <ul>
    {% for floor in floor_list %}
        <li><a href="/supply/{{ barracks.id }}/{{ floor.id }}">{{ barracks.name }}{{ floor.floor }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No floors are available.</p>
{% endif %}
